.image-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}

li {
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);

  cursor: pointer;
  position: relative;
}

li:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 80px 5px #3d2fdbb3, 0px 50px 80px 15px rgb(0, 0, 0, 1);
  z-index: 3;
}
