.load-more-btn {
  border: 3px solid#3005c9b3;
  border-radius: 20px;
  border-left: none;
  background: transparent;
  color: #fff;
  font-size: 20px;
  padding: 5px 15px;
}

.load-more-btn:hover {
  background-color: #3005c9b3;
  color: #f9f4f4;
}

.center {
  margin: 24px;
  display: flex;
  justify-content: center;
}
